* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


body{

    height: 100vh;
    width: 100%;
    background-color: #02082f;
   
 

}

.body{
    width: 100%;
    background-color:#000839;
    border-bottom:10px solid #d8950f;

    

}



li{
    width: 100%;
    list-style: none;

}
a{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1rem;
}

a:hover{
    color:#d8950f;

}
/* header */


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: #d47227;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}
.action_btn{
    background-color: #d8950f;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px ;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 30px;


}

.action_btn:hover{
    scale: 1.05;
    color: #000839;
}

.action_btn:active{
  scale: 0.95;
}

/* DropDown menue */
.dropdown_menue{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menue.open{
    height: 240px;
}

.dropdown_menue li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menue .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Responsive Design */


@media(min-width: 700px) and (max-width: 1000px){
    .body{
        background-position: center;
        background-position-x: 300px;
        background-position-y: 90px ;
        background-size: 400px 400px;
        display: block;
    }


}
@media(max-width : 300px) {
    .hero{
        width: 100%;
    }

}
@media(max-width : 900px) {

    .body{
        display: block;
        background-position: center;
        background-position-x: 500px;
        background-position-y: 90px ;
        background-size: 400px 400px;
    }}


@media(max-width : 700px) {

    .body{
        display: block;
        background-position: center;
        background-position-x: 300px;
        background-position-y: 90px ;
        background-size: 400px 400px;
    }

    .navbar .links ,
    .navbar .action_btn {
     display: none;
    }

    .navbar .toggle_btn{
        display: block;
        padding: 40px;
    }

    .dropdown_menue{
        display: block;
    }



}

@media (max-width : 576px){
.dropdown_menue{
    left: 2rem;
    width: inherit;
}


}
.conatinerhero{
    width: 100%;
    height: 50hv;
    border-radius:0 0  30% ;
    margin-right: ;
    box-shadow:10px 10px 40px #d8950f;
    
    background-image: linear-gradient(#08163b, #005082aa);
}

.hero{
    padding: 20px;
    padding-bottom: 30px;

    background-image: url("pic/jjlogo-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x:90% ;
    background-position-y: 0 ;
    width: 100%;
    border-radius: 60px;
    margin-top: 40px;
    display: grid;
    grid-row: 1fr 1fr ;
   
    
}
.aboutme{
    background-color: #00083984;
    border-radius: 0 0  40px 0;
    box-shadow: 20px 20px 20px  #040616;
   width: 500px;
    overflow: hidden;
    margin-top: 0;
    margin-left: 80px;
    height: 200px;
    grid-area: 2/1/3/2;
    margin-bottom: 60px;
    font-size: 1rem;
    font-family:cursive;
    padding: 8px;
    padding-right: 20px;
    margin-top: 0px ;
    color: #fff;

}

@media (min-width:900px){
    .aboutme{
        margin-left: 200px;
        margin-top: 90px;
        width: 800px;
    }

}




#major{
    color: #d8950f;
    font-family: cursive;
    font-size: 1.3rem;
    
}

hr{
    border: 2px solid #d47227;
}
.image{

    grid-area: 1/2/3/3;
    margin-top: 30px;
    

}

@media (max-width:700px) and (min-width:300px){
    #imghero{
        max-width:500px ;
        height: 300px;
    }
    .image{
     position: absolute;
    width: 300px;
    left: 400px;
    }
}



/* Card */

.card-list {
    color: #f1a83a;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;

}
.card-list .card-item {
    background: #000839;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 5px solid #f1a83a;
    background-color: #1b214c;

}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .skills {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .work {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-item h3 {
    color: #f1a83a;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #f1a83a;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #f1a83a; 
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}



.personalinf{
    margin-left: 60px;
    width: 50%;
    height: 300px ;
    font-size: 2rem;
    color: #f1a83a;
    background-color: #fff;
    
}
.listinf{
    grid-area: 1/2/9/3;
    list-style-type: circle;
    color: orange;


}