* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


body{

    height: 100vh;
    width: 100%;
    background-color: #08163b;
   
 

}

.body{
    width: 100%;
    background-color: #fbfafb;
    border-bottom:10px solid #000839;

    

}



li{
    width: 100%;
    list-style: none;

}
a{
    text-decoration: none;
    color: #000839;
    font-size: 1rem;
}

a:hover{
    color:#d8950f;

}
/* header */


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: #d47227;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}
.action_btn{
    background-color: #000839;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px ;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 30px;


}

.action_btn:hover{
    scale: 1.05;
    color: #db5c25;
}

.action_btn:active{
  scale: 0.95;
}

/* DropDown menue */
.dropdown_menue{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menue.open{
    height: 240px;
}

.dropdown_menue li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menue .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Responsive Design */


@media(min-width: 700px) and (max-width: 1000px){
    .body{
        background-position: center;
        background-position-x: 300px;
        background-position-y: 90px ;
        background-size: 400px 400px;
        display: block;
    }


}
@media(max-width : 300px) {
    .hero{
        width: 100%;
    }

}
@media(max-width : 900px) {

    .body{
        display: block;
        background-position: center;
        background-position-x: 500px;
        background-position-y: 90px ;
        background-size: 400px 400px;
    }}


@media(max-width : 700px) {

    .body{
        display: block;
        background-position: center;
        background-position-x: 300px;
        background-position-y: 90px ;
        background-size: 400px 400px;
    }

    .navbar .links ,
    .navbar .action_btn {
     display: none;
    }

    .navbar .toggle_btn{
        display: block;
        padding: 40px;
    }

    .dropdown_menue{
        display: block;
    }



}

@media (max-width : 576px){
.dropdown_menue{
    left: 2rem;
    width: inherit;
}


}
.conatinerhero{
    background-color:#FFA41B;
    width: 100%;
    background-image: linear-gradient(#FFA41B, #f1a83a);
    height: 50hv;
    border-radius:0 0 30% 30% ;
    margin-right: ;
}

.hero{
    width: 100%;
    border-radius: 60px;
    margin-top: 40px;
    display: grid;
    grid-row: 1fr 1fr ;
    grid-template-columns: 60% 40% ;
   
    
}
.aboutme{
    margin-top: 0;
    margin-left: 80px;
    width: 500px;
    height: 200px;
    grid-area: 2/1/3/2;
    margin-bottom: 60px;
    font-size: 1rem;
    font-family:cursive;
    padding: 20px;
    margin-top: 30px ;
    
}

@media (min-width:900px){
    .aboutme{
        margin-left: 200px;
        margin-top: 90px;
        width: 800px;
    }

}



.abouttasneem{
    display: flex;
    align-self: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
    color: #000839;
    border-radius: 40px;
    grid-area: 1/1/2/2;
    margin: 100px;
    padding: 10px;
    margin-bottom: 0px;
   
  
   
}
hr{
    border: 3px solid wheat;
}
.image{

    grid-area: 1/2/3/3;
    margin-top: 30px;
    

}

@media (max-width:700px) and (min-width:300px){
    #imghero{
        max-width:500px ;
        height: 300px;
    }
    .image{
     position: absolute;
    width: 300px;
    left: 400px;
    }
}

.whoiam{
    
    column-gap: 40px;
    margin: 100px;
    color: #fefefe;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    overflow: hidden;
    transition: ;
    background-color: #fbfafb38;
    padding: 20px;
    padding-right: 70px;
    border-radius: 20px;
animation: back 10s infinite linear;}


.whoiam:hover{
    color: #f1a83a;
}
.col1who{
    
}
.col2who{


}
 

.end{
    
    width: 100%;
    column-gap: 40px;
    margin: 100px;
    color: #fefefe;
    height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    overflow: hidden;
    transition: ;
    background-image: linear-gradient(#fbab33 );
    margin: 0px;
    border-top: 10px orange solid ;
    border-bottom: 10px orange solid ;

    border-radius: 10% 10% 0% 0 ;
animation: back 10s infinite linear;
}


.end:hover{
    color: #f1a83a;
}
.col1end{
    
}
.col2end{
    display: none;


}

